h1 {
    display: flex;
    justify-content: center;
}


.display {
    display: flex;
    justify-content: center;
}

.buttonContainerTop {
    display: flex;
    justify-content: center;
    
}


.buttonContainerMiddle {
    display: flex;
    justify-content: center;
    
}

.buttonContainerBottom {
    display: flex;
    justify-content: center;
    
}

.containerKeys {
    display: flex;
    
    flex-direction: column;
}



.operandPlus {
    height: 106px;
    width: 50px;
    margin: 3px;

}

.equals {
    height: 106px;
    width: 50px;
    margin: 3px;

}

.digit0 {
    height: 50px;
    width: 110px;
    margin: 3px;


}



button {
    height: 50px;
    width: 50px;
    margin: 3px;
}



